:root{
    --padding-header: 1%  2%;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--padding-header);
}
section{
    text-align: center;
}
.contaner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.contaner-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards{
    margin: 1%;
}
.box-area{
    display: block;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.navbar .links,.log{

    margin: 0 1rem;
    text-transform: capitalize;
}

